{% extends "base.html" %}

{% block title %}Asignaciones{% endblock %}
{% block page_title %}Asignaciones{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">
    <div class="card-body">

        <h4>Eliminar Asignación</h4>

        <p>
            ¿Seguro que deseas eliminar la asignación
            <strong>{{ asignacion.curso }}</strong> -
            <strong>{{ asignacion.catedratico }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">Eliminar</button>

            <a href="{% url 'asignacion:list' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </form>

    </div>
</div>

{% endblock %}