{% extends "base.html" %}

{% block title %}Asignaciones{% endblock %}
{% block page_title %}Asignaciones{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h4 class="mb-4">Formulario Asignación</h4>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'asignacion:list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}