{% extends "base.html" %}

{% block title %}Catedráticos{% endblock %}
{% block page_title %}Catedráticos{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h4>Eliminar Catedrático</h4>
        <p>¿Seguro que deseas eliminar a <strong>{{ catedratico.nombre }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'catedratico:list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}