{% extends "base.html" %}

{% block title %}Cursos{% endblock %}
{% block page_title %}Cursos{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h4>Eliminar Curso</h4>
        <p>¿Seguro que deseas eliminar el curso <strong>{{ curso.nombre }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'curso:list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}